.border-green{
    border: solid;
    border: 1.5px solid;
    border-color: #0E8088;
    border-radius: 8px; /* 半径が8pxの角丸 */
}

.backgroundImage {
    background-image: url("/images/backgroundImage.jpg");
    background-size: cover;
}


.calendar-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; 
}
.calendar-table th,
.calendar-table td{
    border: 1px solid #ebeced;
    padding: 10px;
}

.calendarHeader {
    background-color: #4c586f;
    color: #fff;
    font-size: 12px;
    text-align: left;
}

.day {
    height: 100px;
    font-size: 1px;
}